<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<h1> March Bot Processing Server </h1>
<p> At this site, incoming sms messages from the March Bot service are received and processed. </p>
</body>